canvas{
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

body{
	font-family: "Fira Mono";
	font-size: 14px;
}

.cube{
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px dotted black;
}

.startingCube{
	background-color: rgb(0, 125, 250);
}

.endingCube{
	background-color: rgb(255, 0, 0);
}

.obstacleCube{
	background-color: rgb(30, 20, 10);
}

.opensetCube{
	background-color: rgb(255, 180, 180);
}

.closedsetCube{
	background-color: rgb(125, 0, 125);
}

#failCase{
	color: brown;
}